{
  "presets": [
    "es2015"
  ],
  "plugins": [
    "transform-runtime",
    "add-module-exports"
  ],
  "env": {
    "production": {
      "plugins": [
        "lodash"
      ]
    },
    "development": {
      "presets": [
        "power-assert"
      ]
    }
  }
}
